* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 20px 40px;
}

/* TOP NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 55px;
}

.welcome {
    font-size: 20px;
    font-weight: 500;
}

.login {
    display: flex;
}

.login_input {
    padding: 7px 15px;
    border-radius: 50px;
    border: none;
    width: 110px;
    height: 38px;
    margin-right: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #333;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.login_input::placeholder {
    color: rgb(175, 175, 175);
}

.login_input:focus {
    outline: none;
    border: 1px solid #ccc;
}

.login_btn {
    font-size: 25px;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.login_btn:focus,
.login_btn:hover {
    color: #777;
    outline: none;
}

/* MAIN APP */
.app {
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 150px) auto;
    gap: 20px;

    opacity: 0;
    transition: all 0.3s;
}

.balance {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.balance_label {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: -2px;
}

.balance_date {
    font-size: 14px;
    color: #888;
}

.balance_value {
    font-size: 45px;
    font-weight: 400;
}

/* MOVEMENTS */
.movements {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 10px;
    overflow: scroll;
}

.movements_row {
    padding: 22px 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.movements_type {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: tomato;
    border-radius: 10px;
    padding: 1px 10px;
    margin-right: 20px;
}

.movements_type_deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements_type_withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements_date {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.movements_value {
    font-size: 17px;
    margin-left: auto;
}

/* SUMMARY */
.summary {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 3px;
    margin-top: 10px;
}

.summary_label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 8px;
}

.summary_value {
    font-size: 22px;
    margin-right: 25px;
}

.summary_value_in,
.summary_value_interest {
    color: #66c873;
}

.summary_value_out {
    color: #f5465d;
}

.btn_sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.btn_sort:hover {
    color: #888;
}

/* OPERATIONS */
.operation {
    border-radius: 10px;
    padding: 30px 40px;
    color: #333;
}

.operation_transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation_loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation_close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.operation h2 {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.operation form {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 4px 10px;
}

/* EXCEPTION FOR LOAN */
.form_loan {
    grid-template-columns: 2fr 1fr 2fr;
}

.form_label_loan {
    grid-row: 2;
}
/* EXCEPTION END */

.form_input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
    padding: 3px 10px;
    font-family: inherit;
    font-size: 15px;
    color: #333;
    text-align: center;
    transition: all 0.3s;
}

.form_input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.form_label {
    font-size: 13px;
    text-align: center;
}

.form_btn {
    border: none;
    border-radius: 7px;
    font-size: 18px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    width: 64px;
}

.form_btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.logout_timer {
    padding: 0 3px;
    margin-top: 19px;
    text-align: right;
    font-size: 12.5px;
}

.timer {
    font-weight: 600;
}
